<%= form_for @contact do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize @contact.errors.count, "error" %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      org
      <%= f.text_field :org, class: "form-control" %>
    </div>
    <div class="form-group">
      street
      <%= f.text_field :street, class: "form-control" %>
    </div>
    <div class="form-group">
      city
      <%= f.text_field :city, class: "form-control" %>
    </div>
    <div class="form-group">
      state
      <%= f.text_field :state, class: "form-control" %>
    </div>
    <div class="form-group">
      zip
      <%= f.text_field :zip, class: "form-control" %>
    </div>
    <div class="form-group">
      email
      <%= f.text_field :email, class: "form-control" %>
    </div>

  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
