<p id="notice"><%= notice %></p>



<div class="contacts show">
  <h2>Show Contact</h2>

  <table summary="Contact detail view">
    <tr>
      <th>Name</th>
      <td><%= @contact.name %></td>
    </tr>
    <tr>
      <th>Org</th>
      <td><%= @contact.org %></td>
    </tr>
    <tr>
      <th>Street</th>
      <td><%= @contact.street %></td>
    </tr>
    <tr>
      <th>City</th>
      <td><%= @contact.city %></td>
    </tr>
    <tr>
      <th>State</th>
      <td><%= @contact.state %></td>
    </tr>
    <tr>
      <th>Zip</th>
      <td><%= @contact.zip %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @contact.email %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @contact.updated_at %></td>
    </tr>
  </table>

</div>